html, body {
    background-color: $bg-color;
}
.campaign{
    .header{
        > div{
            margin-bottom: 1.5rem;
        }
    }

    .title-info{
        font-size: $f-L;     
    }

    .description-info{
        width:505px;
        font-size:$f-R;
        margin-left: auto;
        margin-right: auto;
    }
}
