
    h2 {
        font-size: $f-M;
 
    }

    .header {
        text-align: center;
        margin-top: 5rem;

        >div {
            margin-bottom: 1.5rem;
        }
    }

    .title-info {
        font-size: $f-L;
    }

    .description-info {
        width: 567px;
        line-height: 23px;
        font-weight: normal;
        font-size: $f-R;
        margin-left: auto;
        margin-right: auto;
    }

    .visual-report {
        background-color: $bg-color;
        min-width: 95rem;
        min-height: 40rem;
        margin: 0 auto;
        margin-top: 5rem;
        padding-bottom: 5rem;
        &__title{
                   
        margin: 0;
            padding: 5rem 0 3rem;
        }
    }

    .wrapper--img {
        position: relative;
        width: 780px; 
        margin: 0 auto;

        // overflow: hidden;
        .img-phishing {
            max-width: 778px; // 780px - 2px de bordure
            border: 1px solid #BDBDBD;
            border-radius: 5px;
        }
    }

    span[class^="overlay"] {
        width: 100%;
        display: block;
        border-radius: 5px;
        border: 1px solid transparent;
        height: 99.6%;
        top: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        display: none;
        opacity:0;
    }


   
