$bg-color : #EFF8FD;

$spot-color:#FFE980 ;


/****************************
*          FONT SIZE                
*****************************/
$f-L : 3.6rem;
$f-M : 2.4rem;
$f-R : 1.8rem;
$f-S : 1.4rem;