
html{
  overflow-y: scroll;// afin d'aviter les saut de marge a droite à l'apparition du scroll
  overflow-x: hidden;
  // width: 100vw;

}

.wrapper--img{
  position: relative;
        width: 780px; 
        margin: 0 auto;
    background-color: #faf9f7;
    border:1px solid #dfdfdf;
    border-radius: 5px;

  }
  .mail-wrapper{
    margin:0  1.8rem 2rem;
    padding-bottom: 2rem;
    background-color: #fff;
    .time-zone{
      margin-top:5px;
      font-size: 1.2rem;
    }
  }
  .exp-info{
    display:flex;
    align-items: center;
    padding:1rem 0 3rem 1rem;
    background-color:#fff;
    font-size: 1.4rem;
    .accro{
      width:4rem;
      height:4rem;
      text-align: center;
      line-height: 4rem;
      margin-right:1.5rem;
      background-color: lightcoral;
      border-radius:50%;
    }
    .buttons-mail{
      margin-left:auto;
      margin-right:1rem;
    }
  }
  center {
    background: #fff !important;
  }
  .object {
    font-size: 1.8rem;
  background-color: transparent;
    font-weight: bold;
  
    padding: 2rem 0 2rem 1rem;;
  }
  [class^="tips-"]{	
    border-radius:3px;
  }

  //FOOTER

  footer{
    bottom:0;
    height:6rem;
    background-color: #fff;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo-AR{
      width:100px;
      margin:0 auto;
    }
  }