

@font-face {
    font-family: "Muli";
    src: url("~@/assets/fonts/Muli-ExtraLight.ttf") format("truetype");
    font-weight: 100;
   }
@font-face {
    font-family: "Muli";
    src: url("~@/assets/fonts/Muli-Light.ttf") format("truetype");
    font-weight: 300;
   }
@font-face {
    font-family: "Muli";
    src: url("~@/assets/fonts/Muli-Italic.ttf") format("truetype");
    font-weight:normal;
    font-style: oblique;
   }
@font-face {
    font-family: "Muli";
    src: url("~@/assets/fonts/Muli.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
   }
@font-face {
    font-family: "Muli";
    src: url("~@/assets/fonts/Muli-SemiBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
   
   }
@font-face {
    font-family: "Muli";
    src: url("~@/assets/fonts/Muli-Bold.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  
   }

html{
    font-size:62.5%; // rapport de 16px pour 10px;
    font-family: 'Muli',Arial, Helvetica, sans-serif;
    body{
        // on passe en mode rem
        font-size: 1.6rem;
    }
}
